body {background-color:black;font-family:arial;color:white}
h1 {color:grey;font-family:verdana;}
label
{
    display: inline-block;
    width: 100px;
    margin: 8px;
}
button
{   
    display: inline-block;
    margin: 8px;

}

#result
{
    display: inline-block;
    margin: 8px;
}


.maindiv
{
    background-color:white;
    color:black;
    width:500px;
    padding:20px;
    border-radius:25px;
    margin: 0 auto;
}

.text
{
    width: 400px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;

}





